# ===== dependencies =====
**/node_modules/
**/backend/node_modules/
**/frontend/node_modules/

# ===== env (secrets) =====
.env
.env.*

# ===== builds =====
build/
dist/
frontend/build/
backend/dist/

# ===== logs =====
*.log
logs/

# ===== system =====
.DS_Store
